just like list ,tuples is used to store multiple items in a single variable

but tuples are ordered and **unchangeable**

In [2]:
mytuple=(1,2,3)
print(mytuple)

(1, 2, 3)

In [3]:
print(len(mytuple))

3

In [4]:
tuple1 = ("abc", 34, True, 40, "male")
print(type(tuple1))

<class 'tuple'>

In [5]:
tup2=('cherry',)
print(type(tup2))

<class 'tuple'>

### Access Tuples

indexing and slicing

In [6]:
t = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(t[0])

apple

In [7]:
print(t[:4])

('apple', 'banana', 'cherry', 'orange')

In [8]:
print(t[:])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [9]:
print(t[2:5])

('cherry', 'orange', 'kiwi')

In [10]:
print(t[-4:-1])

('orange', 'kiwi', 'melon')

### Update tuples

as we know tuples are unchangeable,but we can change them by first converting into list and then converting list back to tuple

In [12]:
x=('hammy','rammy','mRo')
y=list(x)
y[0]='big'
x=tuple(y)
print(x)

('big', 'rammy', 'mRo')

In [13]:
y=list(x)
y.append(2)
x=tuple(y)
print(x)

('big', 'rammy', 'mRo', 2)

In [14]:
y=list(x)
y.remove(2)
x=tuple(y)
print(x)

('big', 'rammy', 'mRo')

### Unpacking tuples

In [15]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [16]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [17]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

### Loop tuples

In [20]:
tp=(1,2,4,5)
for i in tp:
    print(i,end=" ")
for i in range(len(tp)):
    print(tp[i],end=" ")

1 2 4 5 1 2 4 5

In [21]:
i=0
while i<len(tp):
    print(tp[i])
    i+=1

1
2
4
5

### Join tuples

In [22]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [23]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')