In [2]:
# this how we comment in python
print("this is my first python code for this course! WOW")

this is my first python code for this course! WOW

now we learn about variables

## variables in python

In [7]:
num1=6
num2=7
num3=num2+num1
print("value of num3 = ",num3)

value of num3 =  13

but here python treats all variables as strings ,but we can specify the data type

In [11]:
num4=int(7)
num5=float(5)
num7=str(8)
print("num4={} ,num5={} num7={}".format(num4,num5,num7))

num4=7 ,num5=5.0 num7=8

In [12]:
a,b,c=1,2,"hello"
print(a,b,c)

1 2 hello

In [14]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [15]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

## Python datatypes

In [26]:
x1="hello python"
print(type(x))
x2 = 20
print(type(x))
num2 = 2.0
print(num2, 'is of type', type(num2))
num3 = 1+2j
print(num3, 'is of type', type(num3))
v4 = ["apple", "banana", "cherry"]
print(v4, 'is of type', type(v4))
v5 = ("apple", "banana", "cherry")
print(v5, 'is of type', type(v5))
v6 = range(6)
print(v6, 'is of type', type(v6))
x3 = {"name" : "John", "age" : 36}
print(x3, 'is of type', type(x3))
x4 = {"apple", "banana", "cherry"}
print(x4, 'is of type', type(x4))
x5 = True
print(x5, 'is of type', type(x5))

<class 'str'>
<class 'str'>
2.0 is of type <class 'float'>
(1+2j) is of type <class 'complex'>
['apple', 'banana', 'cherry'] is of type <class 'list'>
('apple', 'banana', 'cherry') is of type <class 'tuple'>
range(0, 6) is of type <class 'range'>
{'name': 'John', 'age': 36} is of type <class 'dict'>
{'banana', 'apple', 'cherry'} is of type <class 'set'>
True is of type <class 'bool'>

## Numbers in python

In [27]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

type conversion

In [28]:
#you can convert from one type to another with the int(), float(), and complex() methods:
# convert from float to int
a=int(y)# convert from float to int
b=float(x)# convert from int to float
c=complex(x)#int to complex
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

 random numbers

In [29]:
import random

print(random.randrange(1, 10))

8

## Python strings

In [30]:
x="hello"
y='hello'
z=""" Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(x,y,z)

hello hello  Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

slicing strings

In [43]:
b = "Hello World"
print(b[2:5])# from index 2 till index 5 not including index 5,so llo

llo

In [44]:
print(b[:5])#  from start till index 5 not including 5

Hello

In [45]:
print(b[2:])# index 2 till all the way

llo World

In [46]:
print(b[-5:-2])# index -5 which is w not included till index -2

Wor

In [48]:
print(b[:-1])# tll last letter not including it

Hello Worl

In [50]:
print(b[-1])# last item

d

modify strings

In [51]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [52]:
print(a.lower())

hello, world!

In [53]:
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [54]:
print(a.replace("H", "J"))

Jello, World!

In [55]:
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

concatenate strings

In [56]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

format strings

In [57]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [58]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [59]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."# here 2,0,1 show indexes which show our varaibles
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [62]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Booleans

In [63]:
a = 200
b = 33


print(bool(b>a))

print(bool(a>b))

False
True

## Python operators

arthimetic operators

In [64]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

assignment operators

In [65]:
# assign 10 to a
a = 10

# assign 5 to b
b = 5 

# assign the sum of a and b to a
a += b      # a = a + b

print(a)

# Output: 15

15

comparision operators

In [66]:
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

logical operator

In [67]:
a = 5
b = 6

print((a > 2) and (b >= 6))    # True

True

membership operator

In [68]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  # prints False

print(x2 is y2)  # prints True

print(x3 is y3)  # prints False

False
True
False

In [69]:
x = 'Hello world'
y = {1:'a', 2:'b'}

# check if 'H' is present in x string
print('H' in x)  # prints True

# check if 'hello' is present in x string
print('hello' not in x)  # prints True

# check if '1' key is present in y
print(1 in y)  # prints True

# check if 'a' key is present in y
print('a' in y)  # prints False

True
True
True
False

## Now most important BASIC INPUT/OUTPUT

In [73]:
for i in range (1,10):
    print("\U0001F923",end=" ")

不 不 不 不 不 不 不 不 不

In [75]:
print("i am going to become a Data Scientist",end=" ")
print("OR a flutter developer")

i am going to become a Data Scientist OR a flutter developer

In [76]:
print('New Year', 2023, 'See you soon!', sep= '. ')# sep replaces separation with commas with .

New Year. 2023. See you soon!

output formatting

In [78]:
name="hamza"
degree="BSAI"
print("my name is name{} and i am doing degree in {}".format(name,degree))

my name is namehamza and i am doing degree in BSAI

user input

In [80]:
choice=input("enter your name : ")
grad=input("enter your interest : ")

enter your name : hamza
enter your interest : ds

In [83]:
choice=int(input("enter your roll number : "))

enter your roll number : 4561

In [86]:
var1=8
var2=6
choice=input("enter +,-,*,/")
if choice=='+':
    print(var1+var2)
elif choice=='-':
    print(var1-var2)
elif choice=='*':
    print(var1*var2)
elif choice=='/':
    print(var1/var2)
else:
    print("you entered wrong operator!")

enter +,-,*,/+
14

now if you noticed i concluded this notebook with if ,elif,else,
so what are they,THEY ARE PART OF PYTHON FLOWCONTROL,and thats what we are gonna do next