set is a collection which is *unordered*, *unchangeable*, *unindexed* AND no duplicates allowed

In [2]:
s1={1,2,5}
print(type(s1))
print(s1)

<class 'set'>
{1, 2, 5}

### Access set items

In [4]:
for i in s1:
    print(i)
print(1 in s1)

1
2
5
True

### Add set items

using add() func

In [5]:
s2={"eid","mubarak","muslim"}
s2.add("ummah")
print(s2)

{'eid', 'mubarak', 'muslim', 'ummah'}

we can use update() function to add another set or any other iterable to a set

In [6]:
s3={"1444AH","1st Shawwal"}
s2.update(s3)
print(s2)

{'mubarak', 'muslim', 'ummah', '1444AH', 'eid', '1st Shawwal'}

In [7]:
s=["....."]
s2.update(s)
print(s2)

{'mubarak', 'muslim', 'ummah', '1444AH', 'eid', '1st Shawwal', '.....'}

### Remove set items

using remove() function

In [8]:
s2.remove("eid")
print(s2)

{'mubarak', 'muslim', 'ummah', '1444AH', '1st Shawwal', '.....'}

discard() func

In [9]:
s2.discard(".....")
print(s2)

{'mubarak', 'muslim', 'ummah', '1444AH', '1st Shawwal'}

pop func(),will remove any random item

In [10]:
s2.pop()
print(s2)

{'muslim', 'ummah', '1444AH', '1st Shawwal'}

### set methods

join two sets by using union func()

In [11]:
st1={'a','b','c'}
st2={1,2,3}
st3=st1.union(st2)
print(st3)

{1, 2, 3, 'c', 'b', 'a'}

keeping only duplicates using intersection_update()

In [12]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [13]:
z = x.intersection(y)

print(z)

{'apple'}

removing duplicates using symmetric_difference_update()

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'google', 'banana', 'cherry'}