used to store data values in key:value pairs

ordered , changeable , do not allows duplicates

In [7]:
d1={
    "name":'hamza',
    "age" : 23,
    "height":5.11
}
print(d1)

{'name': 'hamza', 'age': 23, 'height': 5.11}

items can be refered by using key names

In [8]:
print(d1["name"])

hamza

In [9]:
print(len(d1))

3

values inside dictionary can be of any data type

In [12]:
d2={
    "department":"AI",
    "year":2020,
    "semester":6,
    "courses":['ANN','PDC','RS','DB','CN']
}
print(d2)

{'department': 'AI', 'year': 2020, 'semester': 6, 'courses': ['ANN', 'PDC', 'RS', 'DB', 'CN']}

In [14]:
print(d2["courses"])

['ANN', 'PDC', 'RS', 'DB', 'CN']

the dict constructor

In [15]:
d3=dict(skill1="DATA SCIENCE",skill2="DATA ANALYTICS",skill3="FLUTTER DEVELOPER")
print(d3)

{'skill1': 'DATA SCIENCE', 'skill2': 'DATA ANALYTICS', 'skill3': 'FLUTTER DEVELOPER'}

### Access Dictionary itmes

we can access dictionary items by refering to its key name inside square brackets

In [16]:
print(d3["skill1"])

DATA SCIENCE

In [17]:
print(d3.get("skill3"))# get function can also be used

FLUTTER DEVELOPER

keys() will return all keys in dictionary

In [18]:
print(d2.keys())

dict_keys(['department', 'year', 'semester', 'courses'])

values() will return all values

In [19]:
print(d2.values())

dict_values(['AI', 2020, 6, ['ANN', 'PDC', 'RS', 'DB', 'CN']])

items() will return each item in dictionary

In [20]:
print(d2.items())

dict_items([('department', 'AI'), ('year', 2020), ('semester', 6), ('courses', ['ANN', 'PDC', 'RS', 'DB', 'CN'])])

In [21]:
# now we look some changes and updates

In [22]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [23]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [24]:
n=5
d={}
for i in range(n):
 keys=input()
 values=int(input())
 d[keys]=values
print(d)

hamza
1669
bill
1702
azaan
1099
umer
1677
abdur rehman
1695
{'hamza': 1669, 'bill': 1702, 'azaan': 1099, 'umer': 1677, 'abdur rehman': 1695}

In [25]:
# now looping to access our d1

In [28]:
for i,j in d1.items():# i is key,j is value
    print("{}:{}".format(i,j))

name:hamza
age:23
height:5.11

### Change items

In [29]:
thisd={
    "brand":"hyundai",
    "model":"Sonata",
    "year":2022
}
print(thisd)

{'brand': 'hyundai', 'model': 'Sonata', 'year': 2022}

In [32]:
thisd["year"]=2021
print(thisd)

{'brand': 'hyundai', 'model': 'Sonata', 'year': 2021}

we can use update()

In [33]:
thisd.update({"model":"tucson"})
print(thisd)

{'brand': 'hyundai', 'model': 'tucson', 'year': 2021}

### Add items

In [34]:
thisd["color"]="white"
print(thisd)

{'brand': 'hyundai', 'model': 'tucson', 'year': 2021, 'color': 'white'}

In [35]:
thisd.update({"CC":2100})
print(thisd)

{'brand': 'hyundai', 'model': 'tucson', 'year': 2021, 'color': 'white', 'CC': 2100}

### Removing items

In [36]:
thisd.pop("CC")# using pop() func
print(thisd)

{'brand': 'hyundai', 'model': 'tucson', 'year': 2021, 'color': 'white'}

In [37]:
thisd.popitem()# popitem() removes last inserted item
print(thisd)

{'brand': 'hyundai', 'model': 'tucson', 'year': 2021}

### looping through dictionary

In [38]:
for i in thisd.keys():
    print("{}:".format(i))

brand:
model:
year:

In [39]:
for i in thisd.values():
    print(":{}".format(i))

:hyundai
:tucson
:2021

In [41]:
for i,j in thisd.items():
    print("{} : {}".format(i,j))

brand : hyundai
model : tucson
year : 2021

### Copy a dictionary

In [42]:
mydict=thisd.copy()# we can use .copy()
print(mydict)

{'brand': 'hyundai', 'model': 'tucson', 'year': 2021}

another way

In [43]:
mydict=dict(thisd)
print(mydict)

{'brand': 'hyundai', 'model': 'tucson', 'year': 2021}

### Nested Dictionary

In [45]:
myfamily = {
  "child1" : {
    "name" : "hassan",
    "year" : 1997
  },
  "child2" : {
    "name" : "hamza",
    "year" : 2000
  },
  "child3" : {
    "name" : "hamna",
    "year" : 2006
  }
}
print(myfamily)

{'child1': {'name': 'hassp', 'year': 1997}, 'child2': {'name': 'hamza', 'year': 2000}, 'child3': {'name': 'hamna', 'year': 2006}}

In [46]:
print(myfamily["child2"]["name"])

hamza

OR WE CAN Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [47]:

  child1 = {
    "name" : "hassan",
    "year" : 1997
  }
  child2 ={
    "name" : "hamza",
    "year" : 2000
  },
  child3 = {
    "name" : "hamna",
    "year" : 2006
  }
myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'hassan', 'year': 1997}, 'child2': ({'name': 'hamza', 'year': 2000},), 'child3': {'name': 'hamna', 'year': 2006}}

## COMMON DICTIONARY METHODS

In [48]:
a={1:10,2:20,3:30,4:50}
t1=sum(a.values())# sum values
t2=sum(a.keys())# sum keys
b1=min(a.values())# min value
b2=min(a.keys())# min key
c1=max(a.values())# max value
c2=max(a.keys())# max keys
print("sum of values : ",t1)
print("sum of keys : ",t2)
print("min in values : ",b1)
print("min in keys : ",b2)
print("max in values : ",c1)
print("max in keys : ",c2)

sum of values :  110
sum of keys :  10
min in values :  10
min in keys :  1
max in values :  50
max in keys :  4

sorting...

In [49]:
long={'jen':'python','sam':'C','eddy':'java'}
for i in sorted(long.keys()):# applying title() on keys
 print(i.title())

Eddy
Jen
Sam

In [50]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
 
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

above was sorting by keys

now we see sort by values

do same just replace keys with values