# SCIKIT LEARN DEMO

In [3]:
import pandas as pd
df=pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.size

2000

In [6]:
df.shape

(400, 5)

In [7]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [21]:
x_feature=df[['User ID','Age']]

In [22]:
x_feature.head()

    User ID  Age
0  15624510   19
1  15810944   35
2  15668575   26
3  15603246   27
4  15804002   19

In [10]:
y_target=df[['EstimatedSalary']]

In [11]:
y_target.head()

   EstimatedSalary
0            19000
1            20000
2            43000
3            57000
4            76000

In [23]:
x_feature.shape

(400, 2)

In [13]:
y_target.shape

(400, 1)

In [14]:
#split test and training data
# by deafult 75% training and 25% test

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_feature,y_target,random_state=1)

In [25]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(300, 2)
(300, 1)
(100, 2)
(100, 1)

In [19]:
# linear regression model

In [26]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [27]:
# print intercept and coefficients
print(linreg.intercept_)
print(linreg.coef_)

[-594345.65188005]
[[4.09802376e-02 5.42526646e+02]]

In [28]:
# prediction using test
y_pred=linreg.predict(x_test)
print(y_pred)

[[70829.68908962]
 [70080.49720542]
 [72523.52525211]
 [68799.45497671]
 [67029.00218849]
 [70379.7046404 ]
 [59084.96548067]
 [71387.3317448 ]
 [64618.90081295]
 [72571.05662907]
 [65207.22192494]
 [67329.28895127]
 [66975.46747903]
 [69972.95054275]
 [74158.57743559]
 [78825.0468966 ]
 [84658.70476619]
 [64871.42293688]
 [62893.33712615]
 [77240.09332595]
 [71746.00530375]
 [79472.27112916]
 [73555.44481706]
 [71365.96150066]
 [70076.17094099]
 [67650.34455163]
 [75362.35929683]
 [75963.75880333]
 [81028.46349379]
 [81130.80186714]
 [68907.02810052]
 [63614.1120649 ]
 [53840.21316633]
 [81093.70213255]
 [59514.11745007]
 [61054.53242321]
 [58639.07905521]
 [61673.55845314]
 [74297.45064058]
 [61036.12727527]
 [76436.24140301]
 [78906.9039715 ]
 [62200.74777051]
 [57224.79935397]
 [82512.81750183]
 [64384.61679435]
 [73795.34122865]
 [75935.05309664]
 [72132.66456586]
 [73690.75776261]
 [62805.27249502]
 [65928.11410569]
 [72691.07010436]
 [74188.11726612]
 [70745.82018393]
 [66292.79724048]
 [85340.16513795]
 [64125.93691483]
 [75168.48179254]
 [67353.21951048]
 [67374.90565448]
 [59660.62369922]
 [66357.37137505]
 [65491.85993565]
 [68559.42490445]
 [68907.70522422]
 [63403.2346828 ]
 [72563.45764434]
 [71583.93728425]
 [71051.94445869]
 [72634.63841756]
 [68419.40615238]
 [73779.22025406]
 [67220.07661795]
 [59308.85815967]
 [81133.3621822 ]
 [62518.10945077]
 [62558.67296522]
 [66371.4313957 ]
 [62910.06398392]
 [64748.01000143]
 [69322.09358813]
 [75928.13815643]
 [66609.30023531]
 [60356.80669624]
 [61526.14561753]
 [73881.15384627]
 [66277.04128889]
 [70140.32455324]
 [65003.39002204]
 [62259.37095024]
 [77762.87821756]
 [75749.4000006 ]
 [74200.70199821]
 [61403.2049046 ]
 [82002.1823009 ]
 [78275.37204828]
 [69687.68208728]
 [72588.5716092 ]
 [62640.13787852]]

In [29]:
# calculate accuracy using MSE
from sklearn import metrics
import numpy as np
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

34795.25609926291